<div class=vpermission>

    <div>
        <p>Permisos y usuarios</p>
    </div>

    <div class="propietario">
        <div>
        <p>Propietario:</p>
        </div>
        <div>
        <input type="text" placeholder="nombre_de_propietario">
        </div>
    </div>

    <div class="table">
        <div class="title">
            <p></p>
            <p>Usuario</p>
            <p>Grupos</p>
            <p>Otros</p>
        </div>
        
        <div class ="contenido">
          
                <p>Lectura</p>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
                  
                <p>Escritura</p>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
             
                <p>Ejecución</p>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
        </div>
    </div>

    <div class="buttons">
        <button style="margin:15px">Aceptar</button>
        <button style="margin:15px">Cancelar</button>
    </div>
    
</div>