<div class=vpermission>

    <div class="propietario">
        <div>
        <p>Propietario:</p>
        </div>
        <div>
        <input type="text">
        </div>
    </div>

    <div class="table">
        <div class="title">
            <div><p>Tipo de permiso</p></div>
            <div><p>Permitir</p></div>
        </div>
        
        <div class ="contenido">
          
                <p>Lectura</p>
                <input type="checkbox">
                  
                <p>Escritura</p>
                <input type="checkbox">
             
                <p>Lectura y Escritura</p>
                <input type="checkbox">
        </div>
    </div>

    <div class="buttons">
        <button style="margin:15px">Aceptar</button>
        <button style="margin:15px">Cancelar</button>
    </div>
    
</div>