.vpermission {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 600px;
  height: 400px;
  border: 2px solid black;
  text-align: center;

  p {
    color: black;
  }

  .typefile {
    margin-left: 20%;
    margin-right: 20%;
    overflow-y: hidden;

    p {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .propietario {

    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    div {
      flex: 1;
      margin: auto;
      text-align: center;
    }
  }

  .table {

    border-bottom: 1px solid black;

    .title {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(1, 1fr);
      border-bottom: 1px solid black;

      text-align: center;
      background: #C2C2C2;

      div {
        flex: 1;
        text-align: center;
      }
    }

    .contenido {

      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      align-items: center;

      p {
        text-align: center;
      }
    }
  }

  .buttons {
    text-align: center;
    margin: auto;
    flex: 1;
  }
}
