<div class=vpermission>

  <div class="typefile">
    <p>{{doc.type === 'dir' ? 'Directorio' : 'Archivo'}}: {{doc.name}}</p>
  </div>

  <div class="propietario">
    <div>
      <p>Propietario:</p>
    </div>
    <div>
      <p-dropdown [(ngModel)]="owner" [options]="apics.usersList" appendTo="body" optionLabel="user"></p-dropdown>
    </div>
  </div>

  <div class="table">
    <div class="title">
      <p></p>
      <p>Lectura</p>
      <p>Excritura</p>
      <p>Ejecución</p>
    </div>

    <div [formGroup]="permissionsForm" class="contenido">
      <ng-container formGroupName="owner">
        <p>Usuario</p>
        <p-toggleButton formControlName="read" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
        <p-toggleButton formControlName="write" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
        <p-toggleButton formControlName="exec" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
      </ng-container>
      <ng-container formGroupName="group">
        <p>Grupos</p>
        <p-toggleButton formControlName="read" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
        <p-toggleButton formControlName="write" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
        <p-toggleButton formControlName="exec" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
      </ng-container>
      <ng-container formGroupName="other">
        <p>Otros</p>
        <p-toggleButton formControlName="read" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
        <p-toggleButton formControlName="write" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
        <p-toggleButton formControlName="exec" offIcon="pi pi-times" onIcon="pi pi-check"></p-toggleButton>
      </ng-container>
    </div>
  </div>

  <div class="buttons">
    <button (click)="saveChanges()" style="margin:15px">Aceptar</button>
    <button (click)="close()" style="margin:15px">Cancelar</button>
  </div>

</div>
