.container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 10%;
  background: #FFFBA6;
  height: 100%;
}

.up-button {
}

.path-string {
  margin: auto;
}

aside {
  display: flex;
  flex-direction: column;
  border: 1px solid black;

  button {
    background-color: #DCDCDC;
    height: 60px;

    &:hover {
      background-color: #7C7C7C;
      color: white;
    }
  }
}

.main-view {
}
