<!DOCTYPE html>
<html>
<head>
	<title>Explorador</title>
	<link rel="stylesheet" type="text/css" href="app.component.scss">
</head>
<body>
	
	<div class="Explorer">
		<div class="Container">
			<div class="Path">
				<div class= "UpButton" align="center"> 
					<img src="folder_up.png" width="60px" height="60px">
				</div>

				<div class="PathString">
					<form>
						<input type="text" name="ruta">
					</form>
				</div>
			</div>

  			<div class="Buttons">
  				<button class=Duplicate>Duplicar</button>
  				<br>
  				<button class=Move>Mover</button>
  				<br>
  				<button class=Delete>Eliminar</button>
  				<br>
  				<button class=Rename>Cambiar nombre</button>
  				<br>
  				<button class=Permission>Información de permisos</button>
  			</div>
  			<div class="MainView">
  				<img src="carpeta.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="txt.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="carpeta.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="txt.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="txt.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="carpeta.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="txt.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="carpeta.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="txt.png" width="100px" height="100px" hspace="10px" vspace="10">
  				<img src="txt.png" width="100px" height="100px" hspace="10px" vspace="10">


  			</div>  		
		</div>
	</div>
</body>
</html>