.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 10%;
  grid-gap: 2px;
  background: #1e1e1e;
  height: 100%;

  > div, > aside {
    background: #fafafa;
  }
}

.up-button {
  margin: auto;
  border-width: medium;

  i {
    font-size: 2em;
  }
}

.path-string {
  display: flex;
  overflow: auto;
  padding-left: 1em;

  h1 {
    margin: auto 0;
  }
}

aside {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 0 0;

  button {
    height: 10%;
    font-size: 1.2em;
    margin-bottom: 0.3em;
    border-radius: 0 40px 40px 0;
  }

  .addbutton {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    button {
      padding: 1.5em;

      ::ng-deep .p-button-icon {
        font-size: 1.5em;
      }
    }
  }
}

.main-view {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 1%;

}

.files {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: flex-start;
  align-content: baseline;
  flex-wrap: wrap;

  div {
    width: 15%;
    height: auto;
    margin: 0.1%;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    word-wrap: break-word;

    &:hover {
      background-color: #B0DEEB;
    }

    &.selected {
      background-color: #8DE7EC;
      border: 1px solid #6EACBE;
    }

    img {
      width: 50%;
      margin-top: 5px;
    }
  }
}
