<div class="container">
  <div class="up-button">
    <img (click)="folderUp()" *ngIf="apics.path !== '/'" alt="folder-up" 
         src="assets/folder_up.png">
  </div>

  <div class="path-string">
    <h1>C:{{apics.path}}</h1>
  </div>

  <aside>
    <button (click)="toClipboard('copy')" [disabled]="!apics.selectionLength">Copiar</button>
    <button (click)="toClipboard('move')" [disabled]="!apics.selectionLength">Cortar</button>
    <button (click)="pasteHere()" [disabled]="!apics.clipboard.length">Pegar aquí</button>
    <button (click)="deleteDocument()" [disabled]="!apics.selectionLength">Eliminar</button>
    <button (click)="captureInput('rename')" [disabled]="apics.selectionLength !== 1">Cambiar nombre</button>
    <button (click)="openPermissionsDialog()" [disabled]="apics.selectionLength !== 1">Información de permisos</button>
    <div class="addbutton">
      <img (click)="createMenu.toggle($event)" alt="add-button" 
           src="assets/boton-agregar.png" >
    </div>
    <p-menu #createMenu [model]="createMenuItems" [popup]="true" appendTo="body"></p-menu>
  </aside>

  <div class="main-view">
    <div class="files">
      <div (click)="apics.selection[i] = !apics.selection[i]"
           (dblclick)="doc.type === 'dir' ? access(i) : null"
           *ngFor="let doc of apics.content; let i=index"
           [class]="doc.type + '-container'"
           [ngClass]="apics.selection[i] ? 'selected' : ''">
        <img [alt]="doc.type" [src]="'assets/' + doc.type + '.png'">
        <p>{{doc.name}}</p>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="captureInputDialog" [dismissableMask]="true" [modal]="true"
          header="Ingresa un nombre para el documento">
          
  <div>
    <input [(ngModel)]="inputString" pInputText type="text" placeholder="nombre...">
  </div>
  <div>
    <button (click)="execAction()">Aceptar</button>
    <button (click)="captureInputDialog = false">Cancelar</button>
  </div>
</p-dialog>

<p-toast></p-toast>