<div class="container">
  <div style="display: flex">
    <a (click)="folderUp()" *ngIf="apics.path !== '/'"
       class="up-button p-button-outlined p-button-help" pButton pRipple>
      <i class="pi pi-arrow-up"></i>
      <i class="pi pi-folder-open"></i>
    </a>
  </div>

  <div class="path-string">
    <h1>C:{{apics.path}}</h1>
  </div>

  <aside>
    <button (click)="toClipboard('copy')" [disabled]="!apics.selectionLength" pButton pRipple>
      Copiar
    </button>
    <button (click)="toClipboard('move')" [disabled]="!apics.selectionLength" pButton pRipple>
      Cortar
    </button>
    <button (click)="pasteHere()" [disabled]="!apics.clipboard.length" pButton pRipple>
      Pegar aquí
    </button>
    <button (click)="deleteDocument()" [disabled]="!apics.selectionLength" pButton pRipple>
      Eliminar
    </button>
    <button (click)="captureInput('rename')" [disabled]="apics.selectionLength !== 1" pButton pRipple>
      Cambiar nombre
    </button>
    <button (click)="openPermissionsDialog()" [disabled]="apics.selectionLength !== 1" pButton pRipple>
      Información de permisos
    </button>
    <div class="addbutton">
      <button (click)="createMenu.toggle($event)" class="p-button-rounded p-button-outlined p-button-raised"
              icon="pi pi-plus" pButton pRipple type="button"></button>
    </div>
    <p-menu #createMenu [model]="createMenuItems" [popup]="true" appendTo="body"></p-menu>
  </aside>

  <div class="main-view">
    <div class="files">
      <div (click)="apics.selection[i] = !apics.selection[i]"
           (dblclick)="doc.type === 'dir' ? access(i) : null"
           *ngFor="let doc of apics.content; let i=index"
           [class]="doc.type + '-container'"
           [ngClass]="apics.selection[i] ? 'selected' : ''">
        <img [alt]="doc.type" [src]="'static/assets/' + doc.type + '.png'">
        <p>{{doc.name}}</p>
      </div>
    </div>
  </div>
</div>


<p-dialog [(visible)]="captureInputDialog" [dismissableMask]="true" [draggable]="false"
          [modal]="true" [resizable]="false" header="Ingresa un nombre para el documento">
  <div>
    <input (keydown.enter)="execAction()" [(ngModel)]="inputString" pInputText placeholder="Nombre..." type="text">
  </div>
  <div class="buttons">
    <button (click)="captureInputDialog = false" class="p-button-raised p-button-outlined" pButton>Cancelar</button>
    <button (click)="execAction()" class="p-button-raised" pButton>Aceptar</button>
  </div>
</p-dialog>

<p-toast></p-toast>
